@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

a,
hr {
  color: inherit;
}
progress,
sub,
sup {
  vertical-align: baseline;
}
blockquote,
body,
dd,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
menu,
ol,
p,
pre,
ul {
  margin: 0;
}
fieldset,
legend,
menu,
ol,
ul {
  padding: 0;
}
.section,
sub,
sup {
  position: relative;
}
.navbar__button--close span:first-child,
.navbar__button--close span:last-child,
.navbar__button--close span:nth-child(2) {
  position: absolute;
  bottom: 11px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.navbar__wrapper,
.section,
header {
  margin-left: auto;
  margin-right: auto;
}
.button:active,
.button:hover {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.button,
.footer__container,
.goal__content,
.hero__container,
.navbar__button span,
.navbar__wrapper,
.services__container,
.story__content,
.work__content img,
.work__wrapper {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
footer,
header {
  padding-top: 90px;
}
.button,
.goal__content,
.hero__container,
.navbar__button span,
.navbar__wrapper,
.story__content,
.transition,
.work__content img {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.marquee,
body {
  overflow-x: hidden;
}
*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
:after,
:before {
  --tw-content: "";
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: var(--font-albert-sans), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-feature-settings: normal;
  scroll-behavior: smooth;
}
body {
  line-height: inherit;
}
hr {
  height: 0;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
.navbar__container,
.navbar__menu-container {
  border-bottom-width: 1px;
  border-color: rgb(30 30 30 / var(--tw-border-opacity));
  background-color: rgb(12 11 11 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  --tw-border-opacity: 1;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
menu,
ol,
ul {
  list-style: none;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
.hero__container h1,
.navbar__desktop-anchor,
.navbar__menu-anchor {
  font-family: var(--font-albert-sans), sans-serif;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
[role="button"],
button {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
/* .Marquee-tag,
.Marquee-tag:hover {
  cursor: url("./images/hs1.png"), pointer !important;
} */
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
.flex,
[hidden] {
  display: none;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.container,
.w-full {
  width: 100%;
}
@media (min-width: 640px) {
  .container,
  .section {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container,
  .section {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container,
  .section {
    max-width: 1536px;
  }
}
.section {
  height: auto;
  width: 100%;
  max-width: 1159px;
}
.navbar__container {
  position: fixed;
  top: 0;
  z-index: 30;
  clear: both;
  height: 90px;
  width: 100%;
}
@media (min-width: 640px) {
  .navbar__wrapper,
  header {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .navbar__wrapper {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .navbar__wrapper {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .navbar__wrapper {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .navbar__wrapper {
    max-width: 1536px;
  }
}
.navbar__wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1159px;
  align-items: center;
  justify-content: space-between;
}
.navbar__desktop-anchor {
  display: none;
  gap: 30px;
  font-size: 1rem;
  line-height: 1.5rem;
}
.navbar__button {
  position: relative;
  display: flex;
  aspect-ratio: 1 / 1;
  height: 24px;
  width: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.navbar__button span {
  display: block;
  height: 2px;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.navbar__button:hover span {
  --tw-bg-opacity: 1;
  background-color: rgb(245 198 94 / var(--tw-bg-opacity));
}
.navbar__button--close {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar__button--close span:nth-child(2) {
  --tw-rotate: 10deg;
  opacity: 0;
}
.navbar__button--close span:first-child {
  --tw-rotate: 45deg;
}
.navbar__button--close span:last-child {
  --tw-rotate: -45deg;
}
.navbar__menu-container {
  position: fixed;
  left: 0;
  top: 90px;
  z-index: 10;
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  padding: 1.5rem;
}
.hero__container,
header {
  position: relative;
  height: auto;
}
.navbar__menu-anchor {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.navbar__menu-anchor li a {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
}
.navbar__menu-anchor li a:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity));
}
@media (min-width: 768px) {
  header {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .navbar__desktop-anchor {
    display: flex;
  }
  .navbar__button,
  .navbar__menu-container {
    display: none;
  }
  header {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .navbar__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  header {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  header {
    max-width: 1536px;
  }
}
header {
  width: 100%;
  max-width: 1159px;
  display: flex;
  flex-direction: column;
}
.hero__container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 2.5rem;
}
@media (min-width: 1280px) {
  .hero__container {
    padding-left: 0;
    padding-right: 0;
  }
}
.hero__container h1 {
  /* font-size: 1.875rem; */
  font-weight: 800;
  line-height: 120%;
}
@media (min-width: 768px) {
  .hero__container h1 {
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  header {
    flex-direction: row;
  }
  .hero__container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
    position: absolute;
    left: 0;
    /* top: 183px; */
    bottom: 0px;
    /* width: 822px; */
    width: 650px;
    gap: 39px;
  }
  @media (min-width: 1280px) {
    .hero__container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .hero__container h1 {
    font-size: 65px;
    line-height: 107%;
  }
}
.button,
.hero__container p {
  font-size: 18px;
  font-family: var(--font-albert-sans), sans-serif;
  --tw-text-opacity: 1;
}
@media (max-width: 600px) {
  .button,
  .hero__container p {
    font-size: 10px;
  }
}
.hero__container p {
  line-height: 150%;
  color: rgb(158 157 157 / var(--tw-text-opacity));
}
.hero__image {
  display: none;
  height: auto;
  width: 100%;
}
.button {
  display: flex;
  min-height: 58px;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(245 198 94 / var(--tw-bg-opacity));
  padding-left: 31px;
  padding-right: 31px;
  font-weight: 700;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.goal__wrapper,
.story__section {
  flex-direction: column;
  height: auto;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
}
.button:hover {
  --tw-brightness: brightness(0.75);
}
.button:active {
  --tw-brightness: brightness(0.5);
}
@media (min-width: 640px) {
  .goal__wrapper,
  .story__section {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .story__section {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .hero__container p {
    max-width: 571px;
    font-size: 22px;
  }
  .hero__image {
    display: block;
  }
  .hero__image img {
    margin-left: auto;
  }
  .story__section {
    flex-direction: row;
    gap: 65px;
    padding-bottom: 0;
    padding-top: 58px;
  }
  .story__section > div,
  .story__section > div img {
    max-height: 100%;
  }
  .story__content h2 {
    font-size: 58px;
  }
  .story__content p {
    margin-top: 42px;
  }
  .goal__wrapper {
    max-width: 1024px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .hero__container h1 {
    font-size: 65px;
  }
  .story__section {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .story__section {
    max-width: 1536px;
  }
}
.story__section {
  max-width: 1159px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-top: 58px;
  padding-bottom: 58px;
}
.story__section > div,
.story__section > div img {
  max-height: 280px;
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
@media (min-width: 768px) {
  .story__section > div,
  .story__section > div img {
    /* max-height: 400px; */
    max-height: 100%;
  }
}
.story__content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
}
.story__content h2 {
  font-family: var(--font-albert-sans), sans-serif;
  font-size: 3.875rem;
  line-height: 2.25rem;
  font-weight: 800;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.story__content p {
  margin-top: 1.5rem;
  font-family: var(--font-albert-sans), sans-serif;
  font-size: 18px;
  line-height: 150%;
  --tw-text-opacity: 1;
  color: rgb(158 157 157 / var(--tw-text-opacity));
}
.goal__section {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .goal__wrapper {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .story__content {
    padding-left: 0;
    padding-right: 0;
  }
  .goal__wrapper {
    max-width: 1024px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .story__content {
    padding-left: 0;
    padding-right: 0;
  }
  .goal__wrapper {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .goal__wrapper {
    max-width: 1536px;
  }
}
.goal__wrapper {
  max-width: 1159px;
  display: flex;
}
.goal__content {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 2.5rem 1.5rem;
}
.goal__section div:last-child {
  order: 1;
  margin-top: 0;
}
.goal__content h2 {
  white-space: nowrap;
  font-family: var(--font-albert-sans), sans-serif;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.goal__content p,
.services-box li,
.services-box p {
  font-family: var(--font-albert-sans), sans-serif;
  font-size: 18px;
  line-height: 150%;
  --tw-text-opacity: 1;
  color: rgb(158 157 157 / var(--tw-text-opacity));
}
.footer__container,
.services__container,
.work__wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 640px) {
  .services__container,
  .work__wrapper {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .services__container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .goal__content {
    order: 1;
    flex-direction: row;
    align-items: center;
    gap: 88px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .goal__section div:last-child {
    order: 2;
    margin-top: 5px;
  }
  .goal__content h2 {
    font-size: 58px;
  }
  .services__container {
    max-width: 1024px;
    padding-top: 103px;
    padding-bottom: 103px;
  }
}
@media (min-width: 1280px) {
  .goal__content,
  .services__container,
  .work__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .services__container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .services__container {
    max-width: 1536px;
  }
}
.services__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
  max-width: 1159px;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.services__header {
  margin-bottom: 82px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
}
.services__header h2 {
  overflow-wrap: break-word;
  font-family: var(--font-albert-sans), sans-serif;
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 107%;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.services__header p {
  max-width: 651px;
  font-family: var(--font-albert-sans), sans-serif;
  font-size: 18px;
  line-height: 150%;
  --tw-text-opacity: 1;
  color: rgb(158 157 157 / var(--tw-text-opacity));
}
.footer__box .title,
.services-box-container h3,
.work__wrapper h2 {
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.services__content {
  display: grid;
  height: auto;
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 50px;
}
.services-box-container {
  grid-column: 1 / -1;
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.services-box-container h3 {
  font-family: var(--font-albert-sans), sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
  --tw-text-opacity: 1;
}
.services-box-icon {
  display: flex;
  aspect-ratio: 1 / 1;
  height: 103px;
  width: 103px;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity));
}
.work__section {
  position: relative;
  height: auto;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(16 16 16 / var(--tw-bg-opacity));
}
@media (min-width: 768px) {
  .work__wrapper {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .services__container {
    padding-top: 103px;
    padding-bottom: 103px;
  }
  .services__header {
    flex-direction: row;
  }
  .services__header h2 {
    font-size: 65px;
  }
  .services__content {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .services-box-container {
    grid-column: span 6 / span 6;
    gap: 42px;
  }
  .services-box-container h3 {
    font-size: 34px;
  }
  .work__wrapper {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .work__wrapper {
    max-width: 1280px;
  }
  .footer__container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1536px) {
  .work__wrapper {
    max-width: 1536px;
  }
}
.work__wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
  max-width: 1159px;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.work__wrapper h2 {
  text-align: center;
  font-family: var(--font-albert-sans), sans-serif;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
  --tw-text-opacity: 1;
}
.footer__box a,
.footer__box p:not(:first-child),
.footer__box-1 p,
.footer__c {
  color: rgb(158 157 157 / var(--tw-text-opacity));
  font-family: var(--font-albert-sans), sans-serif;
  --tw-text-opacity: 1;
}
.work__content {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.work__content img {
  flex-shrink: 1;
}
footer {
  height: auto;
  width: 100%;
  border-bottom-width: 12px;
  --tw-border-opacity: 1;
  border-color: rgb(245 198 94 / var(--tw-border-opacity));
  padding-bottom: 28px;
}
@media (min-width: 640px) {
  .work__content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .footer__container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .work__content {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .footer__container {
    max-width: 768px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 58%) !important;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5e65e !important;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, -50px) !important;
    right: auto;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, -50px) !important;
    left: auto;
  }
}
@media (min-width: 1024px) {
  .work__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .work__wrapper h2 {
    font-size: 58px;
  }
  .work__content {
    margin-top: 70px;
  }
  .footer__container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .footer__container {
    max-width: 1536px;
  }
}
.footer__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
  max-width: 1159px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2.5rem;
}
.footer__box-1 {
  grid-column: span 1 / span 1;
  display: block;
  width: 100%;
}
.footer__box-1 img {
  height: auto;
  width: 200px;
  max-width: 274px;
}
.footer__box-1 p {
  margin-top: 2.5rem;
  max-width: 373px;
  font-size: 18px;
  line-height: 150%;
}
.footer__box {
  grid-column: span 1 / span 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .footer__container {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0;
  }
  .footer__box-1 {
    grid-column: span 6 / span 6;
  }
  .footer__box-1 img {
    width: 100%;
  }
  .footer__box {
    grid-column: span 3 / span 3;
  }
}
.footer__box .title {
  font-family: var(--font-albert-sans), sans-serif;
  font-size: 20px;
  font-weight: 600;
  --tw-text-opacity: 1;
}
.footer__box a,
.footer__box p:not(:first-child) {
  font-size: 1rem;
  line-height: 1.5rem;
}
.footer__box a:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.footer__c {
  text-align: center;
  font-size: 0.875rem;
  line-height: 150%;
}
.block {
  display: block;
}
.h-auto {
  height: auto;
}
.min-h-\[600px\] {
  min-height: 600px;
}
.bg-dark-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(12 11 11 / var(--tw-bg-opacity));
}
.font-primary {
  font-family: var(--font-albert-sans);
}
.text-par {
  font-size: 18px;
}
.text-primary {
  --tw-text-opacity: 1;
  color: rgb(245 198 94 / var(--tw-text-opacity));
}
.transition {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 0.15s;
}
.scroll-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 4px;
  --tw-bg-opacity: 1;
  background-color: rgb(245 198 94 / var(--tw-bg-opacity));
}
.small {
  display: none !important;
}
@media (max-width: 768px) {
  .navbar__desktop-anchor {
    display: flex;
    width: 100%;
    top: -1000px;
    position: absolute;
    background: #000;
    padding-bottom: 20px;
    flex-direction: column;
  }
  .nda {
    top: 90px;
    left: 0;
    padding: 10px;
  }
  .large {
    display: none !important;
  }
  .small {
    display: flex !important;
  }
}
.Marquee {
  overflow: hidden;
}
.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 250px;
}
.Marquee-content {
  display: flex;
  white-space: nowrap;
  will-change: transform;
  animation: 20s linear infinite marquee;
}
.Marquee-content:hover {
  animation-play-state: paused;
}
.Marquee-tag {
  margin: 0 0.5em;
  padding: 0.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  gap: 20px;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logo-image {
  height: 150px;
  cursor: pointer;
  width: 200px;
  object-fit: contain;

}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mycontainer {
  max-width: 1200px;
  width: 100%;
}
.work__content img {
  max-width: 370px;
  width: 100%;
  height: 296px;
  object-fit: cover;
  margin: auto;
}
.swiper-button-next,
.swiper-button-prev {
  top: var(--swiper-navigation-top-offset, 58%) !important;
  color: #f5e65e !important;
}
.stickyclass,
.stickyclass1 {
  position: fixed;
  bottom: 20px;
}
.stickyclass {
  left: 0;
}
.stickyclass1 {
  right: 0;
  height: 300px !important;
}
.portal-nest-provider__ElfsightPortalNest-sc-161fpzp-0 {
  height: 0 !important;
}
.hero__image img {
  height: 85vh;
  object-fit: cover;
}
@media (min-height: 1080px) {
  .hero__image img {
    height: 70vh;
  }
}
.hero__container {
  background: rgba(0, 0, 0, 0.35); /* black with 35% opacity */
}
.myflex {
  display: flex;
}
.al {
  font-family: var(--font-albert-sans), sans-serif !important;
}
.blog-section {
  padding: 1rem;
  padding-bottom: 6rem;
  /* max-width: 1200px; */
  margin: auto;
  /* background: black; */
}
.blog-section h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: auto;
}
.blog-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}
.blog-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.blog-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.blog-card h3 {
  margin: 1rem;
}
.blog-card h3 a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
}
.blog-card p {
  color: white;
  margin: 0 1rem 1rem;
  font-size: 0.95rem;
}
.mains {
  max-width: 1180px;
  width: 100%;
  margin: auto;
}
.b_container {
  width: 100%;
  margin: 2rem auto;
  /* padding: 0 0.5rem; */
  transition: all 0.3s ease;
  /* background-color: #fff; */
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: white;
  border: 1px solid #ddd;
}

.b_container:hover {
  /* background-color: #f3f3f3; */
  transform: scale(1.01);
}

.b_image {
  flex: 1 1 45%;
}

.b_image img {
  width: 100%;
  border-radius: 5px;
}

.content {
  flex: 1 1 45%;
  padding: 1rem;
}

.content h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.content small {
  display: block;
  font-size: 0.8rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
  margin-top: 1rem;
}

.author img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.meta {
  font-size: 0.8rem;
  color: #fff;
}

@media (max-width: 768px) {
  .b_container {
    flex-direction: column;
    align-items: center;
  }

  .b_image,
  .content {
    flex: 1 1 100%;
  }
}
/*  */
.b_card {
  /* background: white; */
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: all 0.3s ease;
  border: 1px solid #ddd;
  color: white;
}
.b_card:hover {
  /* background-color: #f3f3f3; */
  transform: scale(1.01);
}

.b_card img.top-b_image {
  width: 100%;
  height: auto;
}

.author-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 8px;
  font-size: 12px;
  color: #fff;
}

.author-section img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.b_card h2 {
  font-size: 20px;
  margin: 10px 0 5px;
}

.b_card .category {
  font-size: 12px;
  font-weight: bold;
  color: #ffff;
  letter-spacing: 1px;
}

.b_card p.description {
  font-size: 14px;
  color: #fff;
  padding: 0 20px 20px;
  line-height: 1.5;
}
/*  */
.perspective {
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 450px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-inner.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
